* {
    padding: 0;
    margin: 0;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    background: url(../img/molongwang.jpg) no-repeat;
    background-size: 100vw;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    margin: 30px 0;
}

.box h1 {
    font-size: 3vw;
    color: #036616;
}

.box {
    margin-top: 30px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 800px;
    margin-left: 100px;
    /* color: #45759d; */
}

.list {
    height: 400px;
    list-style: none;
    display: flex;
    margin: auto 0;
}

.list>li {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 2rem;
}

.list>li:nth-child(1),
.list>li:nth-child(3) {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

.list>li:nth-child(1) h5,
.list>li:nth-child(3) h5 {
    margin: 20px auto;
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.list>li:nth-child(1) img,
.list>li:nth-child(3) img {
    margin: 30px auto;
    width: 250px;
}

.list>li:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerRecords {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.playerRecords>li {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 80px;

}

.playerRecords>li>p,
.playerRecords>li>i {
    margin: 20px 3px;
    font-size: 20px;
}

.playerRecords>li>i {
    font-style: normal;
}

.pcRecords {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.pcRecords>li {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 80px;

}

.pcRecords>li>p,
.pcRecords>li>i {
    margin: 20px 3px;
    font-size: 20px;
}

.pcRecords>li>i {
    font-style: normal;
}

.start {
    height: 60px;
    width: 150px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    background-color: #ff4808db;
    color: #ffffffc9;
}

.select {
    margin-top: 40px;
    display: none;
    width: 280px;
}

.select p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.selectImg {
    display: flex;
    list-style: none;
    justify-content: center;
}

.selectImg li img {
    margin: 10px;
    width: 60px;
}



.resultVictory {
    display: none;
    width: 300px;
}

.resultLose {
    display: none;
}

.resultAlike {
    display: none;
}

.resultVictory h3,
.resultLose h3,
.resultAlike h3 {
    width: 300px;
    margin-top: 30px;
    text-align: center;
    font-size: 28px;
}

.nextgame,
.quitgame {
    margin: 150px 23px;
    width: 100px;
    height: 50px;
}

#pcImg,
#wjImg {
    width: 200px;
    height: 179px;
}



.box2 {
    width: 250px;
    height: 500px;
    background-color: pink;
    border-radius: 20px;
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.box2 button {
    width: 130px;
    height: 60px;
    margin: 20px 0;
    font-size: 20px;
    border: none;
    border-radius: 2rem;
    color: #324e48;
}

.shuru {
    display: none;
}

.shuru span {
    font-size: 18px;
    margin-top: 20px;
    display: none;
}

.shuru input {
    font-size: 18px;
    width: 200px;
    height: 40px;
}

.shuru p {
    margin-bottom: 10px;
    line-height: 25px;
}

.mb {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f2f2f80;
    justify-content: center;
    align-items: center;
}

.mb_top {
    margin-top: 8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mb_top img {
    width: 30vw;
}

.mb_top h3 {
    cursor: pointer;
    color: #fff;
    font-size: 3vw;
    margin-top: -5vw;
}

.ggbond {
    position: fixed;
    top: 2vw;
    right: 2vw;
}

.ggbond img {
    width: 12vw;

}

.yxgz {
    border-radius: 20px;
    position: fixed;
    top: 2vw;
    left: 2vw;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 200px;
    background-color: #fff;
}

.yxgz h5 {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.yxgz p {
    margin-left: 10px;
    margin-top: 20px;
    line-height: 25px;
}